@import "config.less";
@import "util.less";
@import "../font-awesome/less/font-awesome.less";

html,body {
	.allscreen;
}

#all {
	background: @pagebackground;
	font-family: @defaultfont;
	position: relative;
	.allscreen;
}

#navbar {
	width: @navwidth;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: @navbackground;
}

#page {
	padding-left: @navwidth;
	position: relative;
	height: 100%;
}

#content {
	padding: 0;
	float: left;
	top: 0;
	left: 0;
	width: 50%;
	display: inline-block;
	height: 100%;
	overflow-y: auto;
	position: relative;
}

#multi {
	float: right;
	width: 50%;
	display: none;
	height: 100%;
	overflow-y: auto;
}

.pcontent {
	position: relative;
	padding: 10px;
	margin: 10px;
	.border-radius(6px);
	background: @contentbackground;
	height: 4000px;
}